deepmultilingualpunctuation==1.0.1
fastapi==0.115.12
jiwer==3.1.0
librosa==0.11.0
numpy==2.2.5
openai==1.76.2
protobuf==6.30.2
pydantic==1.10.8
pydub==0.25.1
Requests==2.32.3
scikit_learn==1.6.1
silero_vad==5.1.2
spacy==3.8.5
summa==1.2.0
torch==2.7.0
transformers==4.51.3
yt_dlp==2025.3.31
uvicorn==0.22.0
webvtt-py
google-cloud-texttospeech
pron-difficulty